.album-swiper {
  width: 100vw;
  height: 180vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFEE;
  animation: roll 30s linear infinite alternate;
}
@keyframes roll {
  0% {margin-top: 0;}
  /*50% {margin-top: album-part DOM height;}*/
  100% {margin-top: -10vh;}
}

/* 隐藏滑块 but 依然能滑动 */
.album-swiper::-webkit-scrollbar {display: none;}

.placeholder {
  width: 8vw;
  cursor: pointer;
  border-radius: 12px;
  margin: 5px;
}

.placeholder:hover {
  transform: scale(1.2);
}
