nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav .notes {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
}

nav .notes input {
    height: 40px;
    width: 100%;
    margin: 5px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #34495e;
    border-radius: 4px;

    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

nav .notes button {
    height: 40px;
    margin: 5px;
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.notesList {
    margin: 5px;
    max-width: 320px;
    display: none;
}

.showNotes {display: block;}

.notesList:hover {display: block;}

.notesList li {
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #34495e;

    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.notesList li span{margin: 0 10px;}

.header {margin: 60px;}

@media (min-width: 500px) {
    .header {
        margin-top: 200px;
        margin-bottom: 60px;
    }
}

.tab-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.tab-bar-item {
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.selected { /*tab-bar-item选中样式*/
    transform: scale(1.4) translateY(-8px) rotate(720deg);
    transition: 1s;/*动画过渡*/
}

.search {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .search {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.search input {
    height: 40px;
    width: 100%;
    margin-right: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #34495e;
    border-radius: 4px;

    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.search button {
    height: 40px;
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;

    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.main > .siteList {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    /*屏幕大于500像素*/
    .siteList {
        margin-left: 0;
        margin-right: -30px;
        justify-content: flex-start;
    }
}

@media (max-width: 500px) {
    /*屏幕小于500像素*/
    .siteList {
        margin: 20px;
        justify-content: space-between;
    }
}

.main > .siteList > li {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    padding: 20px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (min-width: 500px) {
    .main > .siteList > li {
        margin-right: 20px;
    }
}

.main > .siteList .block {
    position: relative;
    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.main > .siteList .addSiteLi {
    user-select: none;  /* 禁止双击选中 */
    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.main > .siteList .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .siteList .site {
    color: #34495e;
    margin-top: 4px;
}

.main > .siteList .close {
    position: absolute;
    font-size: 30px;
    top: -8px;
    right: 4px;
    display: none;
    color: #909090;
}

.block:hover > .close {display: block;}

.windmill {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    left: 50vw;
    bottom: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;  /* 禁止双击选中 */
}

.rotate {animation: rotate 2s infinite;}
@keyframes rotate {
    0% { transform: translate(-50%, -50%) rotate(2turn)}
    100% { transform: translate(-50%, -50%) rotate(4turn)}
}

/* kanban part css*/
live2d-widget-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 400px;
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
}

#live2dcanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 400px;
}
