nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav button {
    height: 40px;
    margin: 5px;
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    vertical-align:top;
}

nav button img {
    width: 26px;
}

.todo-input {
    height: 40px;
    width: 210px;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #34495e;
    border-radius: 4px;
    display: none;
}

.todo-list {
    position: fixed;
    left: 0;
    top: 80px;
}

.todo-list .todo-list-ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    border-radius: 4px;
    color: #34495e;
    line-height: 30px;
    margin: 2px 0 2px 5px;
    padding: 0 10px;
    overflow: hidden;
}

.todo-list .todo-list-ul li .text {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;     /* 将对象作为弹性伸缩盒子模型显示 */
    -webkit-line-clamp: 3;    /* 控制最多显示几行 */
    -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
}

.todo-list .todo-list-ul li .cheers {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.wish-input {
    width: 200px;
    height: 40px;
    margin: 5px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #34495e;
    border-radius: 4px;
    display: none;
}

.wish-list {
    width: 300px;
    position: fixed;
    right: 0;
    top: 50px;
    display: none;
}

.wish-list .wish-list-ul li {
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #34495e;
    line-height: 40px;
    padding: 0 10px;
    margin: 2px 5px;
}

.wish-list .wish-list-ul li .text {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;     /* 将对象作为弹性伸缩盒子模型显示 */
    -webkit-line-clamp: 1;    /* 控制最多显示几行 */
    -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
}

.wish-list .wish-list-ul li .heart {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header {
    margin-top: 200px;
    margin-bottom: 60px;
}

.tab-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.tab-bar-item {
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.selected { /*tab-bar-item选中样式*/
    transform: scale(1.4) translateY(-8px) rotate(720deg);
    transition: 1s;/*动画过渡*/
}

.search {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.search input {
    height: 40px;
    width: 100%;
    margin-right: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #34495e;
    border-radius: 4px;
}

.search button {
    height: 40px;
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.main > .site-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: flex-start;
}

.main > .site-list > li {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    padding: 20px 0;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.main > .site-list .block {
    position: relative;
    /*以下定义高斯模糊样式*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7)
}

.main > .site-list .add-site-li {user-select: none;}

.main > .site-list .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .site-list .site {
    color: #34495e;
    margin-top: 4px;
    text-align: center;
    max-width: 160px;
    overflow: hidden;
}

.main > .site-list .close {
    position: absolute;
    font-size: 30px;
    top: -8px;
    right: 4px;
    display: none;
    color: #909090;
}

.block:hover > .close {display: block;}

.windmill {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    left: 50vw;
    bottom: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;  /* 禁止双击选中 */
}

.rotate {animation: rotate 2s infinite;}
@keyframes rotate {
    0% { transform: translate(-50%, -50%) rotate(2turn)}
    100% { transform: translate(-50%, -50%) rotate(4turn)}
}

/* ---------- 模态框部分 start ---------- */
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.show-modal-window {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window .modal-body {
    width: 480px;
    padding: 20px 0 25px 0;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-window .modal-body .modal-title {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 20px;
}

.modal-window .modal-body .modal-close {
    font-size: 40px;
    position: absolute;
    top: -8px;
    right: 12px;
    color: #909090;
    cursor: pointer;
}

.modal-window .modal-body input {
    width: 320px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #66B1FF;
    border-radius: 25px;
    outline: none;
    background: none;
    text-align: center;
    transition: 0.5s;
    transition-property: width;
}

.modal-window .modal-body input:focus {width: 350px;}

.modal-window .modal-body button {
    width: 150px;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 25px;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background, transform;
}

.modal-window .modal-body .modal-buttons .cancel {
    border: 2px solid #F56C6C;
    margin-right: 10px;
}

.modal-window .modal-body .modal-buttons .confirm {border: 2px solid #67C23A;}

/* ---------- 模态框部分 end ---------- */

/* kanban part css*/
live2d-widget-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 400px;
    z-index: 999;
    opacity: 1;
    pointer-events: none;
}

#live2dcanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 400px;
}
