.notice-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: text;

  display: flex;
  justify-content: center;
  align-items: center;
}

.show-notice-modal {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.notice-modal .notice-modal-body {
  width: 900px;
  padding: 20px 20px 25px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice-modal .notice-modal-body .notice-modal-title {
  color: #34495e;
  font-size: 20px;
  display: inline-block;
}

.notice-modal .notice-modal-body .notice-modal-close {
  font-size: 40px;
  position: absolute;
  top: -8px;
  right: 12px;
  color: #909090;
  cursor: pointer;
}

.notice-modal .notice-modal-body .notice-details {
  /*border: 1px solid red;*/
}

.notice-modal .notice-modal-body .notice-details span {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
}

.notice-modal .notice-modal-body .notice-details a {color: #409eff;}
.notice-modal .notice-modal-body .notice-details a:hover {border-bottom: 1px solid #409eff;}
