/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    /*body可能并没有整个页面大小，但是给其设置背景色后浏览器会自动扩展至整个网页*/
    background-image: url(../img/wallpaper/yourname.jpg);
    background-size:  100vw 100vh;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    transition: 2s ease-in-out;   /*背景图片切换效果*/
}

.header {
    margin: 20px;
}

@media (min-width: 500px) {
    .header {
        margin-top: 200px;
        margin-bottom: 60px;
    }
}

.tab-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.tab-bar-item {
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.selected { /*tab-bar-item选中样式*/
    transform: scale(1.4) translateY(-8px) rotate(720deg);
    transition: 1s;/*动画过渡*/
}

.search {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .search {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.search input {
    height: 40px;
    width: 100%;
    margin-right: 10px;
    padding: 0 10px;
    border: 1px solid #ddd; /*input有难看的默认边框*/
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); /*x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色*/
}

.search button {
    height: 40px;
    white-space: nowrap;
    padding: 0 25px;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main > .siteList {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    /*屏幕大于500像素*/
    .siteList {
        margin-left: 0;
        margin-right: 0;
        margin-right: -30px; /*负margin*/
        justify-content: flex-start;
    }
}

@media (max-width: 500px) {
    /*屏幕小于500像素*/
    .siteList {
        margin: 20px;
        justify-content: space-between;
    }
}

.main > .siteList > li {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #DDD;
    border-radius: 10%;
    padding: 20px 0;
    cursor: pointer;
    margin-bottom: 10px;
    cursor: pointer; /*鼠标手势*/
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); /*x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色*/
}

@media (min-width: 500px) {
    .main > .siteList > li {
        margin-right: 20px;
    }
}

.main > .siteList .block {
    position: relative;
}

.main > .siteList .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > .siteList .site {
    margin-top: 4px;
}

.main > .siteList .close {
    position: absolute;
    font-size: 30px;
    top: -8px;
    right: 4px;
    display: none;
}

.block:hover > .close {
    display: block;
}

live2d-widget-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 400px;
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
}

#live2dcanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 400px;
}

.footer .arrow{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    left: 50vw;
    bottom: 50px;
    transform: translate(-50%,-50%);
}

.footer .arrow {
    animation: vibration 3s infinite;
}
@keyframes vibration {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
